*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.addressSocial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0px 6px 0px;
    margin: auto 60px;
}
.asleft>ol{
    display: flex;
    gap: 30px;
}
.asleft>ol>li{
    list-style: none;
    font-size: 13px;
    color: rgb(173, 172, 172);
}
.asright>ol{
    display: flex;
    gap: 15px;
}
.asright>ol>li{
    list-style: none;
    background-color:  rgb(231, 230, 230);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

nav{
    display: flex;
    margin: auto 60px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px 8px 0px;
}
.rightnav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.rightnav>ul{
    display: flex;
    gap: 30px;
}
.rightnav>ul>li{
    list-style: none;
    font-size: 13px;
    font-weight:600;
    color: rgb(41, 38, 38);
}
nav>.leftnav>p{
    font-size: 25px;
    color: rgb(20, 18, 18);
    font-family:Impact,sans-serif;
}
.rightnav>button{
    display: flex;
    align-items: center;
    gap: 6px; 
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    padding: 0px 12px 0px 0px;
    font-size: 12px;
}
.rightnav>button>span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 26px;
    height: 26px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #EE5921;
}