*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.addressSocial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0px 6px 0px;
    margin: auto 60px;
}
.asleft>ol{
    display: flex;
    gap: 30px;
}
.asleft>ol>li{
    list-style: none;
    font-size: 13px;
    color: rgb(173, 172, 172);
}
.asright>ol{
    display: flex;
    gap: 15px;
}
.asright>ol>li{
    list-style: none;
    background-color:  rgb(231, 230, 230);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

nav{
    display: flex;
    margin: auto 0px;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px 18px 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.rightnav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.rightnav>ul{
    display: flex;
    gap: 30px;
}
.rightnav>ul>li{
    list-style: none;
    font-size: 13px;
    font-weight:600;
    
}
.rightnav>ul>li>a{
    color: rgb(41, 38, 38);
    text-decoration: none;
}
.rightnav>ul>li>a:hover{
    color: #EE5921;
}
nav>.leftnav>p{
    font-size: 30px;
    color: rgb(20, 18, 18);
    font-family:Impact,sans-serif;
}
.rightnav>button{
    display: flex;
    align-items: center;
    gap: 6px; 
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    padding: 0px 12px 0px 0px;
    font-size: 12px;
}
.rightnav>button>span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 26px;
    height: 26px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #EE5921;
}
.mainScroll{
    background-image: url('../images/banner-01.jpg');
    height: 80vh;
    position: relative;
}
.content{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 150px;
    left: 150px;
}
.content>div>p:first-child{
    background-color: white;
    display: inline;
    padding: 6px;
    font-size: 20px;
    font-weight:600;
}
.content>div>p:last-child{
    margin-top: 30px;
    font-size: 45px;
    font-weight: bolder;
    color: white;
}
.featured{
    display: flex;
    margin: 100px 120px 100px 140px;
}
.leftFeatured{
    position: relative;
}
 .circle-icon {
    position: absolute;
    top: 280px;
    left: -30px;
    width: 80px;
    height: 80px;
    background-color: #EE5921;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.circle-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.leftFeatured>img{
    height: 320px;
}
.middleFeatured>p:first-child{
    font-size: 12px;
    font-weight: 400;
    border-left: 4px solid darkmagenta;
    color: darkmagenta;
    padding-left:4px;
}
.middleFeatured{
    margin: 0px 40px 0px 40px;
}
.middleFeatured>h3{
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}
.featuredQuestions{
    background-color: rgba(248, 248, 248, 0.918);
    height: 197px;
    border-radius: 10px;
    padding: 10px;
}
.featuredQuestions>.question{
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
}
.droped{
    color: #EE5921;
}
.featuredQuestions>.answer{
    padding: 4px 10px 2px 10px;
    font-size: 16px;
}
.answer>a{
    text-decoration: none;
    color: rgb(55, 131, 245);
}
.rightFeatured>ul>li{
    list-style: none;
}
.rightFeatured>ul{
    padding: 10px 20px 8px 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.rightFeatured>ul>li>img{
    width: 30%;
}
.rightFeatured>ul>li{
    display: flex;
    margin: 13px;
}
.rightFeatured>ul>li>div{
    margin-left: 4px;
}
.rightFeatured>ul>li>div>p:first-child{
    font-weight: bold;
}
.rightFeatured>ul>li>div>p:last-child{
    font-size: 15px;
    color: rgb(179, 177, 177);
}
.mainVideo{
    background-image: url('../images/video-bg.jpg');
    height: 45vh;
    position: relative;
}
.mainVideo>img{
    position: absolute;
    top: 150px;
    left: 240px;
    width: 60vw;
    height: 50vh;
    border-radius: 20px;
}

.play-button {
    position: absolute;
    top: 150px;
    left: 240px;
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.play-button i {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    color: white;
    background-color:#EE5921;
    border-radius: 50%;
}
.mainVideo>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:40px;
}
.mainVideo>div>p{
    border-left: 4px solid #EE5921;
    padding-left: 4px;
    color: #EE5921;
    font-size: 14px;
    font-weight: 500;
}
.mainVideo>div>h3{
    color: white;
    margin-top: 12px;
    font-size: 30px;
    font-weight: 800;
}
.expCards {
    margin-top: 280px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.expCards>div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeee9;
    border-radius: 6px;
    padding: 12px 25px 12px 25px;
    position: relative;
}
.expCards>div>p{
    color: #EE5921;
    margin: 0px 20px 0px 0px;
    font-size: 30px;
    font-weight: bold;
}
.expCards>div>div>p{
    font-weight: 600;
}
.orange-circle {
    position: absolute;
    top: -14px;
    right: -13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EE5921;
}

.bestdeals{
    height: 70vh;
    background-color: #fafafa;
    margin-top: 50px;
    padding: 60px 100px 60px 100px;
}
.bestdeals>div>p{
    border-left: 4px solid #ef757c;
    padding-left: 4px;
    color: #ef757c;
}
.bestDealsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bestDealsHeader>.rightBest{
    font-size: 25px;
    margin-top: 6px;
    font-weight: 800;
}
.leftBest{
    display: flex;
    gap: 20px;
}
.leftBest>button{
    padding: 8px 16px 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
}
.leftBest>button:first-child{
    background-color: #EE5921;
}

.bestdealsBtn>button{
    display: flex;
    align-items: center;
    gap: 6px; 
    border-radius: 30px;
    background-color: black;
    color: white;
    border: none;
    padding: 0px 12px 0px 0px;
    font-size: 12px;
}
.bestdealsBtn>button>span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 26px;
    height: 26px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #EE5921;
}
.mainbestDelas{
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.mainbestDealsLeft{
    width: 450px;
    height: 260px;
}
.mainbestDelasMiddle>img{
    width: 300px;
    height: 40vh;
    border-radius: 0px;
}
.mainbestDelasMiddle{
    padding: 0px 120px 0px 120px;
}
.mainbestDealsLeft>ul{
    list-style: none;
}
.mainbestDealsLeft>ul>li{
    display: flex;
    margin: 15px 0px 15px 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0px 6px 0px 6px;
}
.mainbestDealsLeft>ul>li>p:first-child{
    color: #dde4e2;
    font-size: 14px;
}
.mainbestDealsLeft>ul>li>p:last-child{
    font-weight: bold;
    font-size: 16px;
}
.mainbestDealsLeft{
    width: 600px;
    padding: 6px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mainbestDealsLeft>hr{
    color: #dde4e2;
}
.mainbestDelasRight>h3{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}
.mainbestDelasRight>p{
    margin-top: 40px;
    color: #99989c;
}
.mainbestDelasRight>button{
    margin-top: 40px;
}
.topOfProperty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    /* margin-bottom: 10px; */
}
.topOfProperty>p{
    margin-bottom: 15px;
    border-left: 4px solid #f07b89;
    padding-left: 4px;
    color: #f07b89;
}
.topOfProperty>h3{
    font-size: 30px;
    font-weight: 600;
}
.mainflexarea{
    display: flex;
    flex-wrap: wrap;
}
.flexAreaBox{
    width: 25vw;
    background-color:#fafafa;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
}
.flexAreaBox>img{
    width: 100%;
    border-radius: 10px;
}
.flexAreaBox>.fabOne{
    display: flex;
    gap: 20px;
}
.flexAreaBox>.fabTwo{
    display: flex;
    gap: 23px;
}
.fabBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.falux{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.flexAreaBox>h3{
    margin: 15px 0px 15px 0px;
}
.fabTwo{
    margin-bottom: 20px;
}
.fabBtn{
    margin-top: 15px;
    margin-bottom: 15px;
}
.fabBtn>button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 8px 20px;
    border: none;
    font-size: 12px;
}
.falux>p:first-child{
    background-color: #f0bdac;
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
}
.falux>p:last-child{
    color: #f35626;
    font-weight: 600;
    font-size: 20px;
}
.fabOne p{
    color: #99989c;
}
.fabOne p strong{
    color: black;
    margin-left: 2%;
    font-size: 14px;
}
.fabTwo p{
    color: #99989c;
}
.fabTwo p strong{
    margin-left: 1px;
    font-size: 14px;
    color: black;
}
.locationContact{
    background-image: url('../images/contact-bg.jpg');
    height: 50vh;
    margin-top: 50px;
    object-fit: cover;
}
.locationContact{
    position: relative;
}
.leftContact{
    position: absolute;
    top: 200px;
    left: 200px;
}
.leftContact>ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

}
.contactRight{
    position: absolute;
    top: 200px;
    left: 750px;
    background-color:#fafafa;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.leftContact>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 6px;
}
.leftContact>ul>li>div>p:first-child{
    font-weight: bold;
}
.leftContact>ul>li>div>p:last-child{
    color: #99989c;
}
.contactRight{
    min-width: 280px;
    max-width: 350px;
    background-color:white;
    padding: 0px;
    border-radius: 6px;
    height: fit-content;
}
.contactRight>form>label{
   padding-left: 6px;
   color:#99989c;
   font-weight: bold;
   font-size: 12px;
   padding-top:40px;
   /* margin-top: 80px; */
}
.contactRight>form{
    padding-top: 10px;
}
.contactRight form input,
.contactRight form textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    /* margin-top: 18px; */
    margin-bottom: 18px;
    padding: 8px;
    border: none;
    background-color: #eae8e8;
}
.contactRight form input{
    border-radius: 30px;
    margin: 10px 5px 10px 5px;
    width: 260px;
}
.contactRight form textarea{
    margin: 10px 5px 10px 5px;
    width: 260px;
    height: 40px;
}
.contactRight form textarea {
    height: 80px;
}

.contactRight form button {
    /* width: 100%; */
    padding: 12px 22px 12px 22px;
    margin: 10px 8px 20px 8px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}
.locationContact>div>p{
    border-left: 5px solid #EE5921;
    padding-left: 4px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 12px;
    color: #EE5921;
}
.locationContact>div>h3{
    font-size: 30px;
    color: white;
}
.locationContact>.headingOfContact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
::placeholder{
    font-size: 12px;
    padding-left: 10px;
}
footer {
  margin-top: 500px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  padding: 1rem;
}
footer>p{
    margin-left: 250px;
    font-size: 12px;
    color: #fafafa;
}
.ProprtiesMain{
    background-image: url('../images/page-heading-bg.jpg');
    height: 30vh;
}
.ProprtiesMain>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ProprtiesMain>div>p{
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.ProprtiesMain>div>h3{
    color: white;
    font-size: 45px;
}

.btnsOfProperty>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.btnsOfProperty>ul>li{
    background-color: rgb(34, 33, 33);
    color: white ;
    padding: 8px 12px 8px 12px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}
.btnsOfProperty>ul>li:first-child{
    background-color: #EE5921;
}
.propertiesFlex{
    margin-top: 60px;
}
.paginationBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.paginationBtns>p{
    height: 25px;
    width: 25px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 100px;
}
.paginationBtns>p:nth-child(2){
    background-color: #EE5921;
}

.marginRemove{
    margin-top: 0px;
}
.singlePropertyMain{
    display: flex;
    margin: 70px 40px 20px 80px;
    gap: 80px;
}
.singlePropertyMain>img{
    width: 750px;
    height: 330px;
}
.singlePropertyMiddle{
    margin: 40px 40px 20px 80px;
}
.singlePropertyMiddle>p{
    width: 60vw;
    font-size: 15px;
}
.singlePropertyMiddle>p>a{
    text-decoration: none;
    color: rgb(46, 170, 219);
}
.spmH{
    background-color: #f0bdac;
    display: inline;
    padding: 5px 9px 5px 9px;
    border-radius: 6px;
}
.singlePropertyMiddle>h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.singlePropertyQuestions{
   margin: 50px 40px 20px 78px;
   width: 60vw;
}
.middleFeatured>.featuredQuestions hr{
    border: none;                
    height: 0.8px;                
    background-color: #99989c; 
}